:root {
  --bg: #D6E3DC;
  --titletext: #7C5E66;
  --titletexthover:#8AA998;
  --text: #7C5E66;
  --box1:#FFC7D4;
  --box2:#D6E3DC;
  --box3:#A28089;
  --footer: #FFC7D4;
  --serif: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  --sans: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

@media (prefers-color: hot) {
  :root {
    --bg: #D2416D;
    --titletext: #fff;
    --text: #362A20;
    --box1:#6D826B;
    --box2:#F4E0C2;
    --box3:#D2416C;
    --footer: #F4E0C2;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: var(--sans);
  max-width: 100vw;
  color:var(--text);
}

.menu{
  position: fixed;
  box-sizing: border-box;
  padding: 10px 20px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 24px;
  color: var(--titletext);
  z-index: 99;
}

.menu a{
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
  text-transform: uppercase;
  color: var(--titletext);
}

.menu a:hover{
  color: var(--titletexthover);
}

.name{
  font-family: var(--serif);
  margin: 0;
}

.hero{
  box-sizing: border-box;
  height: 100vh;
  padding: 80px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
}

.left{
  box-sizing: border-box;
  max-width: 560px;
  padding: 0 20px;
  width: 70vw;
  text-align: center;
  color: var(--text);
  position: relative;
}

.hero-title{
  margin: 0 auto;
  font-family: var(--serif);
  font-size: 48px;
  font-weight: bold;
}

.hero-subtext{
  margin: 0 auto;
  font-family: var(--sans);
  font-size: 18px;
}

.bolder{
  font-weight: bold;
}

.hero img{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 30vw;
  max-height: 420px
}

.project-left{
  box-sizing: border-box;
  max-width: 1200px;
  padding:20px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case-image{
  position: relative;
  width: 50vw;
}
.case-image-reversed{
  display: flex;
  justify-content: flex-end;
}

.rect{
  height: 50vh;
  width: 20vw;
  background-color: var(--box1);
}
.rect2{
  background-color: var(--box2);
  align-self: flex-end;
}
.rect3{
  background-color: var(--box3);
}

.project-one{
  position: absolute;
  left: 10px;
  top: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: 600px;
  width: calc(50vw - 30px);
  top: 50%;
  transform: translate(0%,-50%);
  border-radius: 10px;
}

.project-reversed{
  position: absolute;
  right: 10px;
  top: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: 600px;
  width: calc(50vw - 30px);
  top: 50%;
  transform: translate(0%,-50%);
  border-radius: 10px;
}

.case-text{
  margin-left: 60px;
  width: 50vw;
}
.case-text-reversed{
  width: 50vw;
  margin-right: 60px;
}

h3{
  font-family: var(--serif);
  font-size: 28px;
  margin: 0;
}
.case-text p, .case-text-reversed p{
  font-size: 16px;
  margin: 0 0 10px;
}

.blobs{
  display: flex;
  flex-wrap: wrap;
}
.blob{
  padding: 4px 10px;
  margin: 0 6px 6px 0;
  border-radius: 50px;
  border: 1px var(--text) solid;
}


footer{
  height: 80px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer);
}

.footer-text{
  transition: 0.25s;
  padding: 4px 8px;
}
.footer-text:hover,
.footer-text:focus {
  box-shadow: inset 9rem 0 0 0 var(--text);
  color:var(--footer);
}