:root {
  --bg: #D6E3DC;
  --titletext: #7C5E66;
  --titletexthover:#8AA998;
  --text: #7C5E66;
  --box1:#FFC7D4;
  --box2:#D6E3DC;
  --box3:#A28089;
  --footer: #FFC7D4;
  --serif: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  --sans: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

@media (prefers-color: hot) {
  :root {
    --bg: #D2416D;
    --titletext: #fff;
    --text: #362A20;
    --box1:#6D826B;
    --box2:#F4E0C2;
    --box3:#D2416C;
    --footer: #F4E0C2;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: var(--sans);
  max-width: 100vw;
}

.menu{
  position: fixed;
  box-sizing: border-box;
  padding: 10px 20px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 24px;
  color: var(--titletext);
}

.menu a{
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
  text-transform: uppercase;
  color: var(--titletext);
}

.menu a:hover{
  color: var(--titletexthover);
}

.name{
  font-family: var(--serif);
  margin: 0;
}

.hero{
  box-sizing: border-box;
  height: 100vh;
  padding: 80px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
}

.left{
  box-sizing: border-box;
  max-width: 560px;
  padding: 0 20px;
  width: 70vw;
  text-align: center;
  color: var(--text);
  position: relative;
}

.hero-title{
  margin: 0 auto;
  font-family: var(--serif);
  font-size: 48px;
  font-weight: bold;
}

.hero-subtext{
  margin: 0 auto;
  font-family: var(--sans);
  font-size: 18px;
}

.bolder{
  font-weight: bold;
}

.hero img{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 30vw;
  max-height: 420px
}

.project-left{
  box-sizing: border-box;
  max-width: 1200px;
  padding:20px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}